################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/TesteTemplate.Api/bin/Debug/netcoreapp3.1
/src/TesteTemplate.Service/bin/Debug/netcoreapp3.1
/src/TesteTemplate.Service/obj
/.vs/TesteTemplate/DesignTimeBuild
/src/TesteTemplate.Api/obj
/src/TesteTemplate.Domain/bin/Debug/netcoreapp3.1
/src/TesteTemplate.Domain/obj
/src/TesteTemplate.Infra.Data/bin/Debug/netcoreapp3.1
/src/TesteTemplate.Infra.Data/obj
/src/TesteTemplate.Infra.IoC/bin/Debug/netcoreapp3.1
/src/TesteTemplate.Infra.IoC/obj
/.vs/TesteTemplate/v15/Server/sqlite3
/.vs/TesteTemplate/v16